// variables

// color
// ===============================================================
@blue: rgba(119, 160, 178, 1.0);
@red: rgba(200, 29, 0, 1.0);
@gray: rgba(230, 230, 230, 1.0);
@dk-gray: darken(@gray, 50%);
@white: rgba(255, 255, 255, 1.0);
@black: rgba(0, 0, 0, 1.0);

// fonts
// ===============================================================
@font-face {
	font-family: 'cochin';
	src: url('../fonts/cochin.ttf');
	font-style: italic;
}
.decorative {
	font-family: 'cochin';
	font-style: italic;
}
.displayFont{
	font-family: helvetica, arial, sans-serif;
	font-weight: 100;
}
// cochin italic - bold and regular
// seravek - light, med, italic

@header: 30px;
@subhead: 24px;
@content: 14px;

// z-index
@zIndex1: 100;
@zIndex2: 200;
@zIndex3: 300;

// mixins
// ===============================================================
.fixed{
	position: fixed;
	display: block;
	width: 100%;
}
.corners{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.title{
	width: 100%;
	margin: 5px 0 15px 0;
	text-align: center;
	color: @red;
	.decorative;
	font-size: @header;
	display: block;
}
.subtitle{
	padding: 10px 0 10px 0;
	text-align: center;
	color: @dk-gray;
	font-size: @subhead;
}
.icon{
	max-height: 60px;
	max-width: 60px;
	display: inline-block;
	// padding-bottom: 3%;
	width: 25%;
	margin: 0 auto;
}
.clearfix{
	margin: 0;
	float: none;
	clear: both;
}
.boldRed{
	float: left;
	color: @red;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	margin: 0;
}
.unstyleLink{
	text-decoration: none;
	color: @white;
}
// css rules
// ===================================================================
// navigation and overall
html{
	// background-color: @black;
}
body{
	position: relative;
	// so that + buttons can be absolutely positioned
}
.wrapper{
	margin-top: 20px;
	background-color: @white;
}
.statusbar{
	.fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	background-color: @black;
}
.listItem{
	background-color: @white;
	border-top: 1px solid @dk-gray;
	.corners;
	.subtitle;
}
.btnAddItem{
	margin: 0 auto;
	padding: 5px;
	height: 40px;
	width: 40px;
	display: block;
}
.headerIcon{
	position: fixed;
	top: 18px;
	right: 15px;
}
.btnNewRecipe{
	margin: 0 auto;
	padding: 3px;
	height: 40px;
	width: 40px;
	display: block;
}
.btnContainer{
	display: block;
	width: 100%;
	margin: 0 auto;
	background-color: orange;
	margin-top: 20px;
}
.btnSubmit{
	border-radius: 5px;
	border: 3px solid @blue;
	background-color: @white;
	color: @red;
	padding: 5px;
}
// Decorator: header, footer.
// ==========================================
.header{
	background-color: @blue;
	.fixed;
	top: 16px;
	left:0px;
	.title;
	.corners;
	padding: 1px 0 5px 0;
}
.headerNavL{
	float: left;
	display: inline-block;
	margin-left: 10px;
	color: @white;
}
.headerNavR{
	float: right;
	display: inline-block;
	margin-right: 10px;
	color: @black;
}
.headerHider{
	// so nothing gets hidden under the header
	min-height: 42px;
}
.footer{
	.fixed;
	bottom: 0;
	left: 10;
	.corners;
	height: 60px;
	background-color: @blue;
	width: 100%;
}
.iconBar{
	max-width: 400px;
	margin: 0 auto;
}
.navIcon{
	float: left;
	width: 25%;
	margin: 0 auto;
	img.nav-icon{
		max-width: 60px;
		max-height: 60px;
		display: block;
		margin: auto;
	}
}
.footerHider{
	// so that nothing gets hidden underneath footer! this div stays empty.
	min-height: 60px;
}
// Detail page Specifics:
// ==================================================
.recipeContainer{
	font-size: 1.4em;
	line-height: 1.5em;
}
.recipeTitle{
	.decorative;
	font-size: 2em;
	text-align: center;
	padding-top: 20px;
}
.recipeServes{
	.decorative;
	font-size: .75em;
	text-align: left;
	color: @blue;
	padding-left: 30px;
}
.ingrContainer,
.instrContainer{
	width: 90%;
	margin: 0 auto;
}
.ingrPair{
	&:last-child{
		margin-bottom: 50px;
	}
}
.ingrL{
	width: 30%;
	.boldRed;
}
.ingrR{
	width: 62%;
	float: left;
	border-left: 1px solid @blue;
	padding-left: 10px;
	margin: 0;
}
.instrL{
	width: 10%;
	.boldRed;
}
.instrR{
	width: 80%;
	float: left;
}
// Form Styling
// =================================================
// for line height = height of input boxes:
input{
	margin: 1% 0 1% 0;
}
.fTall{
	line-height: 1.5em;
	font-size: 1.5em;
	text-align: center;
}
.fMed{
	line-height: 1.3em;
	font-size: 1em;
}
.fShort{
	line-height: 1.2em;
	font-size: 0.8em;
}
// for width:
.fFull{
	width: 96%;
	margin: 0 auto;
	margin-top: 5px;
	display: block;
}
.fLeft{
	width: 30%;
	display: inline-block;
	float: left;
	margin-left: 4%;
}
.fRight{
	width: 60%;
	display: inline-block;
	float: right;
	margin-right: 4%;
}